<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Library</servlet-name>
        <servlet-class>controller.Library</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Manage</servlet-name>
        <servlet-class>controller.Manage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>controller.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Student</servlet-name>
        <servlet-class>controller.Student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Teacher</servlet-name>
        <servlet-class>controller.Teacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateStudent</servlet-name>
        <servlet-class>controller.CreateStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateTeacher</servlet-name>
        <servlet-class>controller.CreateTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Information</servlet-name>
        <servlet-class>controller.Information</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Changepass</servlet-name>
        <servlet-class>controller.Changepass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Category</servlet-name>
        <servlet-class>controller.Categoryc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Subjects</servlet-name>
        <servlet-class>controller.Subjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Authora</servlet-name>
        <servlet-class>controller.Authora</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deviced</servlet-name>
        <servlet-class>controller.Deviced</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>controller.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBook</servlet-name>
        <servlet-class>controller.ListBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBooks</servlet-name>
        <servlet-class>controller.ListBooks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Messenger</servlet-name>
        <servlet-class>controller.Messenger</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDevice</servlet-name>
        <servlet-class>controller.ListDevice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDevices</servlet-name>
        <servlet-class>controller.ListDevices</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewDevice</servlet-name>
        <servlet-class>controller.NewDevice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDevice</servlet-name>
        <servlet-class>controller.UpdateDevice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDevice</servlet-name>
        <servlet-class>controller.DeleteDevice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewBook</servlet-name>
        <servlet-class>controller.NewBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBook</servlet-name>
        <servlet-class>controller.DeleteBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrowBook</servlet-name>
        <servlet-class>controller.BorrowBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBookOrder</servlet-name>
        <servlet-class>controller.ListBookOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookOrder</servlet-name>
        <servlet-class>controller.BookOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBookReceipt</servlet-name>
        <servlet-class>controller.ListBookReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookReceipts</servlet-name>
        <servlet-class>controller.BookReceipts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrowDevice</servlet-name>
        <servlet-class>controller.BorrowDevice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDeviceOrder</servlet-name>
        <servlet-class>controller.ListDeviceOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeviceOrders</servlet-name>
        <servlet-class>controller.DeviceOrders</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeviceReceipts</servlet-name>
        <servlet-class>controller.DeviceReceipts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Read</servlet-name>
        <servlet-class>controller.Read</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Write</servlet-name>
        <servlet-class>controller.Write</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Ideas</servlet-name>
        <servlet-class>controller.Ideas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewActive</servlet-name>
        <servlet-class>controller.NewActive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListActive</servlet-name>
        <servlet-class>controller.ListActive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteIdea</servlet-name>
        <servlet-class>controller.DeleteIdea</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteActive</servlet-name>
        <servlet-class>controller.DeleteActive</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAuthor</servlet-name>
        <servlet-class>controller.ListAuthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAuthor</servlet-name>
        <servlet-class>controller.UpdateAuthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCategory</servlet-name>
        <servlet-class>controller.ListCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCategory</servlet-name>
        <servlet-class>controller.UpdateCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListSubject</servlet-name>
        <servlet-class>controller.ListSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBook</servlet-name>
        <servlet-class>controller.UpdateBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Plans</servlet-name>
        <servlet-class>controller.Plans</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewPlan</servlet-name>
        <servlet-class>controller.NewPlan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeletePlan</servlet-name>
        <servlet-class>controller.DeletePlan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePlan</servlet-name>
        <servlet-class>controller.UpdatePlan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticalClass</servlet-name>
        <servlet-class>controller.StatisticalClass</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticalBookTeacher</servlet-name>
        <servlet-class>controller.StatisticalBookTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticalDeviceTeacher</servlet-name>
        <servlet-class>controller.StatisticalDeviceTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticalBook</servlet-name>
        <servlet-class>controller.StatisticalBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticalDevice</servlet-name>
        <servlet-class>controller.StatisticalDevice</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticalCategory</servlet-name>
        <servlet-class>controller.StatisticalCategory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticalAuthor</servlet-name>
        <servlet-class>controller.StatisticalAuthor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticalSubject</servlet-name>
        <servlet-class>controller.StatisticalSubject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListDeviceReceipt</servlet-name>
        <servlet-class>controller.ListDeviceReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateAdmin</servlet-name>
        <servlet-class>controller.CreateAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete</servlet-name>
        <servlet-class>controller.Delete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sbookreceipt</servlet-name>
        <servlet-class>controller.SBookReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SDeviceReceipt</servlet-name>
        <servlet-class>controller.SDeviceReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAdmin</servlet-name>
        <servlet-class>controller.DeleteAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reset</servlet-name>
        <servlet-class>controller.Reset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAccount</servlet-name>
        <servlet-class>controller.UpdateAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadMess</servlet-name>
        <servlet-class>controller.LoadMess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadSender</servlet-name>
        <servlet-class>controller.LoadSender</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadBookOrder</servlet-name>
        <servlet-class>controller.LoadBookOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDeviceOrder</servlet-name>
        <servlet-class>controller.LoadDeviceOrder</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadBookReceipt</servlet-name>
        <servlet-class>controller.LoadBookReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadDeviceReceipt</servlet-name>
        <servlet-class>controller.LoadDeviceReceipt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticalBookCode</servlet-name>
        <servlet-class>controller.StatisticalBookCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticalDeviceCode</servlet-name>
        <servlet-class>controller.StatisticalDeviceCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDelete</servlet-name>
        <servlet-class>controller.BookDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeviceDelete</servlet-name>
        <servlet-class>controller.DeviceDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OverDate</servlet-name>
        <servlet-class>controller.OverDate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Library</servlet-name>
        <url-pattern>/library</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Manage</servlet-name>
        <url-pattern>/manage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Student</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Teacher</servlet-name>
        <url-pattern>/teacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateStudent</servlet-name>
        <url-pattern>/createstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateTeacher</servlet-name>
        <url-pattern>/createteacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Information</servlet-name>
        <url-pattern>/information</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Changepass</servlet-name>
        <url-pattern>/changepass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Category</servlet-name>
        <url-pattern>/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Subjects</servlet-name>
        <url-pattern>/subject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Authora</servlet-name>
        <url-pattern>/author</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deviced</servlet-name>
        <url-pattern>/device</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBook</servlet-name>
        <url-pattern>/listbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBooks</servlet-name>
        <url-pattern>/listbooks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Messenger</servlet-name>
        <url-pattern>/messenger</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDevice</servlet-name>
        <url-pattern>/listdevice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDevices</servlet-name>
        <url-pattern>/listdevices</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewDevice</servlet-name>
        <url-pattern>/newdevice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDevice</servlet-name>
        <url-pattern>/updatedevice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDevice</servlet-name>
        <url-pattern>/deletedevice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewBook</servlet-name>
        <url-pattern>/newbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBook</servlet-name>
        <url-pattern>/deletebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowBook</servlet-name>
        <url-pattern>/borrowbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBookOrder</servlet-name>
        <url-pattern>/listbookorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookOrder</servlet-name>
        <url-pattern>/bookorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBookReceipt</servlet-name>
        <url-pattern>/listbookreceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookReceipts</servlet-name>
        <url-pattern>/bookreceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowDevice</servlet-name>
        <url-pattern>/borrowdevice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDeviceOrder</servlet-name>
        <url-pattern>/listdeviceorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeviceOrders</servlet-name>
        <url-pattern>/deviceorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeviceReceipts</servlet-name>
        <url-pattern>/devicereceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Read</servlet-name>
        <url-pattern>/read</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Write</servlet-name>
        <url-pattern>/write</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Ideas</servlet-name>
        <url-pattern>/idea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewActive</servlet-name>
        <url-pattern>/newactive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListActive</servlet-name>
        <url-pattern>/listactive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteIdea</servlet-name>
        <url-pattern>/deleteidea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteActive</servlet-name>
        <url-pattern>/deleteactive</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAuthor</servlet-name>
        <url-pattern>/listauthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAuthor</servlet-name>
        <url-pattern>/updateauthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCategory</servlet-name>
        <url-pattern>/listcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCategory</servlet-name>
        <url-pattern>/updatecategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListSubject</servlet-name>
        <url-pattern>/listsubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBook</servlet-name>
        <url-pattern>/updatebook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Plans</servlet-name>
        <url-pattern>/plan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewPlan</servlet-name>
        <url-pattern>/newplan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeletePlan</servlet-name>
        <url-pattern>/deleteplan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePlan</servlet-name>
        <url-pattern>/updateplan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticalClass</servlet-name>
        <url-pattern>/statisticalclass</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticalBookTeacher</servlet-name>
        <url-pattern>/statisticalbookteacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticalDeviceTeacher</servlet-name>
        <url-pattern>/statisticaldeviceteacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticalBook</servlet-name>
        <url-pattern>/statisticalbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticalDevice</servlet-name>
        <url-pattern>/statisticaldevice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticalCategory</servlet-name>
        <url-pattern>/statisticalcategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticalAuthor</servlet-name>
        <url-pattern>/statisticalauthor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticalSubject</servlet-name>
        <url-pattern>/statisticalsubject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListDeviceReceipt</servlet-name>
        <url-pattern>/listdevicereceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateAdmin</servlet-name>
        <url-pattern>/createadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sbookreceipt</servlet-name>
        <url-pattern>/sbookreceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SDeviceReceipt</servlet-name>
        <url-pattern>/sdevicereceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAdmin</servlet-name>
        <url-pattern>/deleteadmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reset</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAccount</servlet-name>
        <url-pattern>/updateaccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadMess</servlet-name>
        <url-pattern>/loadmess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadSender</servlet-name>
        <url-pattern>/loadsender</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadBookOrder</servlet-name>
        <url-pattern>/loadbookorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDeviceOrder</servlet-name>
        <url-pattern>/loaddeviceorder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadBookReceipt</servlet-name>
        <url-pattern>/loadbookreceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadDeviceReceipt</servlet-name>
        <url-pattern>/loaddevicereceipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticalBookCode</servlet-name>
        <url-pattern>/statisticalbookcode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticalDeviceCode</servlet-name>
        <url-pattern>/statisticaldevicecode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDelete</servlet-name>
        <url-pattern>/bookdelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeviceDelete</servlet-name>
        <url-pattern>/devicedelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OverDate</servlet-name>
        <url-pattern>/overdate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            3000
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>
</web-app>
